* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.h1-title {
  width: 100%;
  padding: 1rem;
  background-color: hsl(246, 96%, 27%);
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5), inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
  color: #ffffff;
}
.h1-title span {
  color: hsl(29, 90%, 42%);
  text-decoration: underline;
  font-weight: bold;
}

main {
  width: 100vw;
  height: 100dvh;
  background-image: linear-gradient(46deg, #ffffff, rgb(81, 79, 180));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transition: max-width 0.3s ease-in-out;
}

.section-modal-open {
  max-width: 70rem;
  margin: 0 auto;
}

.container-progress {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-icon {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  right: 2rem;
  bottom: 3rem;
  padding: 2.8rem;
  font-size: 2.5rem;
  color: hsl(203, 68%, 82%);
  background-color: hsl(246, 96%, 27%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.edita-pontos-hidden {
  display: none;
}

.edita-pontos {
  max-width: 30rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
  border: 1px solid hsl(246, 96%, 27%);
  border-radius: 3rem;
  background-color: white;
}
.edita-pontos input {
  width: 70%;
  height: 3rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 3rem 0 0 3rem;
}
.edita-pontos button {
  width: 25%;
  height: 3rem;
  border: none;
  background-color: hsl(246, 96%, 27%);
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 0 3rem 3rem 0;
  cursor: pointer;
}

.notie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 0 1rem 0 1rem;
  min-height: 8vh;
  max-height: 8vh;
  text-align: center;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notie-background-success {
  background-color: rgb(64, 182, 109);
  color: #ffffff;
}

.notie-background-error {
  background-color: #dd1b2f;
  color: #ffffff;
}

.notie-background-warning {
  background-color: #cfa118;
  color: #343a40;
}

.notie-background-info {
  background-color: #1e9bcc;
  color: #ffffff;
}

.lapis-edita,
.btn-submitcalculator {
  background-color: hsl(246, 96%, 27%);
  color: hsl(203, 68%, 82%);
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 2rem;
  position: fixed;
}

.btns-submit {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.btn-submitcalculator {
  right: 6.8rem;
  bottom: 8.2rem;
}

.lapis-edita {
  right: 8.8rem;
  bottom: 4rem;
}

.lapis-edita,
.btn-submitcalculator {
  display: flex;
}

.progress-container {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 3rem auto;
}

svg {
  transform: rotate(-90deg);
}

.progress-track {
  fill: none;
  stroke: #e0f2f1;
  stroke-width: 8;
}

.progress-fill {
  fill: none;
  stroke: #007bff;
  stroke-width: 8;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset 0.8s ease-in-out;
  stroke-linecap: butt;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  z-index: 10;
}

.view-meta {
  position: relative;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  height: 35vh;
  background-color: white;
  padding: 2.5rem;
  box-shadow: inset 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.4), 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  border: 1px solid hsl(209, 100%, 50%);
  display: flex;
  gap: 2rem;
  flex-flow: column;
  align-items: start;
  justify-content: center;
}

.input-meta-name-hidden {
  display: none;
}

.input-meta-name {
  display: flex;
  gap: 1rem;
  max-width: 30rem;
  margin: 0 auto;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  color: hsl(29, 100%, 50%);
}
.input-meta-name input {
  padding: 0.3rem 1.5rem;
  font-size: 1.6rem;
  border: 1px solid hsl(29, 100%, 50%);
  border-radius: 1rem;
  outline: none;
}
.input-meta-name label {
  font-size: 2rem;
  cursor: pointer;
}
.input-meta-name button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  color: hsl(29, 100%, 50%);
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 400px) {
  .input-meta-name {
    justify-content: start;
    align-items: stretch;
    width: 90%;
  }
  .input-meta-name input {
    text-align: center;
    width: 100%;
  }
  .input-meta-name input::-moz-placeholder {
    font-size: 1.1rem;
  }
  .input-meta-name input::placeholder {
    font-size: 1.1rem;
  }
  .text-bemVindo {
    margin-top: 2rem;
  }
}
.text-bemVindo-hidden {
  display: none;
}

.text-bemVindo {
  font-size: 1.6rem;
  color: hsl(246, 96%, 27%);
  font-weight: 500;
}

.emojis-meta {
  position: absolute;
  right: 3rem;
  font-size: 3.5rem;
  transform: translate(-3rem, 1rem);
  margin-top: 1rem;
  color: hsl(29, 100%, 35%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta-data-hidden {
  display: none;
}

.meta-data {
  display: flex;
  gap: 1rem;
  flex-flow: column;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(209, 100%, 57%);
}
.meta-data span {
  font-weight: 500;
  font-size: 1.6rem;
  color: hsl(29, 100%, 50%);
}
.meta-data .dias-restante {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: hsl(204, 28%, 56%);
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 0.3rem;
  margin-left: 0.2rem;
  translate: 0 -1rem;
  box-shadow: inset 0 0 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.usuario-name-hidden {
  display: none;
}

.usuario-name {
  max-width: 50%;
  position: absolute;
  right: 0;
  bottom: 2rem;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  color: hsl(29, 100%, 50%);
  border-radius: 2rem;
  background: linear-gradient(to left, white, hsl(209, 100%, 80%));
  text-transform: capitalize;
  border-bottom: 2px solid hsl(209, 100%, 50%);
  border-right: 2px solid hsl(209, 100%, 50%);
}
.usuario-name .bi {
  margin-right: 0.5rem;
}

.meta-opcao {
  color: white;
  position: absolute;
  right: 0;
  top: 2rem;
  margin-right: 2rem;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: hsl(209, 67%, 60%);
  font-size: 1.4rem;
  box-shadow: inset 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}

.modal-backdrop-hidden {
  display: none;
}

.modal-backdrop {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(1rem);
  background-color: rgba(15, 15, 15, 0.815);
}

.modal-header {
  background-color: hsl(207, 61%, 41%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5), inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
  color: rgb(255, 255, 255);
  max-height: 10vh;
  min-height: 6.8rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.modal-header .titulo-modal {
  font-size: 2.5rem;
  max-width: 70rem;
  text-align: center;
  text-align: center;
}
.modal-header .close-btn {
  width: 5rem;
  background-color: none;
  color: #fff;
}
.modal-header .close-btn i {
  font-size: 3rem;
  cursor: pointer;
}

.modal-body {
  width: 100vw;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5), inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
}
.modal-body .mt-4 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  color: hsl(184, 61%, 56%);
  margin-bottom: 1rem;
}
.modal-body .list-group {
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid hsl(184, 61%, 56%);
  border-radius: 2rem;
}
.modal-body .list-group li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 9%, 90%, 0.747);
  list-style: decimal;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.modal-body .mt-5 {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.6rem;
  color: hsl(0, 7%, 70%);
}

.btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8383;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.historico-item-card {
  position: relative;
  padding: 1rem;
  border-radius: 3rem;
}

.historico-item-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.6rem;
}

.edicao-in-place {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 15%, 81%, 0.685);
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6;
  z-index: 10;
}

/* Oculta o container inicialmente */
.edita-pontos-hidden {
  display: none !important;
}

.btn-corrigir {
  background-color: transparent;
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
}

.edit-botoes {
  height: 100%;
  width: 30%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.edit-botoes .btn-success {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  flex: 1;
  width: 100%;
  color: #115a0a;
}
.edit-botoes .btn-cancelar-correcao {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex: 1;
  width: 100%;
  color: #bd0f0f;
}

.input-correcao {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  max-width: 70%;
}

.h3-media-semanal {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #fcfcfc;
  background-color: hsl(207, 61%, 41%);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvbGF5b3V0L2xheW91dC5zY3NzIiwic3R5bGUuY29tcC5jc3MiLCIuLi9zYXNzL2xheW91dC9fY2lyY2xlLnNjc3MiLCIuLi9zYXNzL2xheW91dC9jYXJkUHJpbmNpcGFsLnNjc3MiLCIuLi9zYXNzL2xheW91dC9fbW9kYWwuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLFNBQUE7RUFDQSxVQUFBO0VBQ0Esc0JBQUE7QUNDRjs7QURFQTtFQUNFLGdCQUFBO0FDQ0Y7O0FERUE7RUFDRSxpQkFBQTtFQUNBLHFDQUFBO0FDQ0Y7O0FERUE7RUFDRSxXQUFBO0VBQ0EsYUFBQTtFQUVBLG9DQUFBO0VBQ0EsZUFBQTtFQUVBLGtCQUFBO0VBQ0EsK0ZBQUE7RUFFQSxjQUFBO0FDRkY7QURJRTtFQUNFLHdCQUFBO0VBQ0EsMEJBQUE7RUFDQSxpQkFBQTtBQ0ZKOztBRE1BO0VBQ0UsWUFBQTtFQUNBLGNBQUE7RUFDQSxtRUFBQTtFQU1BLDJCQUFBO0VBQ0Esc0JBQUE7RUFDQSw0QkFBQTtBQ1JGO0FEVUU7RUFDRSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBO0VBQ0EsWUFBQTtFQUNBLHNDQUFBO0FDUko7O0FEWUE7RUFDRSxnQkFBQTtFQUNBLGNBQUE7QUNURjs7QURZQTtFQUNFLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0Esc0JBQUE7QUNURjs7QURZQTtFQUNFLGVBQUE7RUFDQSxhQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSx5QkFBQTtFQUNBLG9DQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSxzREFBQTtFQUNBLGVBQUE7QUNURjs7QURZQTtFQUNFLGFBQUE7QUNURjs7QURZQTtFQUNFLGdCQUFBO0VBQ0EsVUFBQTtFQUVBLGFBQUE7RUFDQSw4QkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFFQSxvQ0FBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7QUNYRjtBRGFFO0VBQ0UsVUFBQTtFQUNBLFlBQUE7RUFDQSxpQkFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0VBQ0EsYUFBQTtFQUNBLDRCQUFBO0FDWEo7QURjRTtFQUNFLFVBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLG9DQUFBO0VBRUEsY0FBQTtFQUNBLGlCQUFBO0VBQ0EsNEJBQUE7RUFDQSxlQUFBO0FDYko7O0FEaUJBO0VBQ0UsZUFBQTtFQUNBLE1BQUE7RUFDQSxPQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUVBLGlCQUFBO0VBQ0EsdUJBQUE7RUFDQSxnQkFBQTtFQUNBLDRCQUFBO0VBQ0EsZUFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUdBLG9CQUFBO0VBRUEsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7QUNsQkY7O0FEcUJBO0VBQ0UsbUNBQUE7RUFDQSxjQUFBO0FDbEJGOztBRHFCQTtFQUNFLHlCQUFBO0VBRUEsY0FBQTtBQ25CRjs7QURzQkE7RUFDRSx5QkFBQTtFQUVBLGNBQUE7QUNwQkY7O0FEdUJBO0VBQ0UseUJBQUE7RUFFQSxjQUFBO0FDckJGOztBRDBCQTs7RUFFRSxvQ0FBQTtFQUNBLHlCQUFBO0VBQ0EsYUFBQTtFQUNBLGNBQUE7RUFDQSxhQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSxZQUFBO0VBQ0EsZUFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxlQUFBO0FDdkJGOztBRDBCQTtFQUNFLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7QUN2QkY7O0FEMEJBO0VBQ0UsYUFBQTtFQUNBLGNBQUE7QUN2QkY7O0FEMEJBO0VBQ0UsYUFBQTtFQUNBLFlBQUE7QUN2QkY7O0FEMEJBOztFQUVFLGFBQUE7QUN2QkY7O0FDeExBO0VBQ0Usa0JBQUE7RUFDQSxZQVBZO0VBUVosYUFSWTtFQVNaLGlCQUFBO0FEMkxGOztBQ3hMQTtFQUNFLHlCQUFBO0FEMkxGOztBQ3hMQTtFQUNFLFVBQUE7RUFDQSxlQUFBO0VBQ0EsZUFsQmE7QUQ2TWY7O0FDeExBO0VBQ0UsVUFBQTtFQUNBLGVBQUE7RUFDQSxlQXhCYTtFQTBCYixxQkFBQTtFQUVBLHNCQUFBO0VBRUEsOENBQUE7RUFFQSxvQkFBQTtBRHVMRjs7QUNwTEE7RUFDRSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsZ0NBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxXQUFBO0VBQ0EsV0FBQTtBRHVMRjs7QUVuT0E7RUFDRSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7RUFDQSxZQUFBO0VBQ0EsdUJBQUE7RUFDQSxlQUFBO0VBQ0EsNEZBQUE7RUFFQSxtQkFBQTtFQUNBLHFDQUFBO0VBRUEsYUFBQTtFQUNBLFNBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsdUJBQUE7QUZvT0Y7O0FFak9BO0VBQ0UsYUFBQTtBRm9PRjs7QUVqT0E7RUFDRSxhQUFBO0VBQ0EsU0FBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFBQSxrQkFBQTtFQUNBLHlCQUFBO0FGb09GO0FFbk9FO0VBQ0Usc0JBQUE7RUFDQSxpQkFBQTtFQUNBLG9DQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBO0FGcU9KO0FFbk9FO0VBQ0UsZUFBQTtFQUNBLGVBQUE7QUZxT0o7QUVuT0U7RUFDRSxvQkFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0VBQ0EseUJBQUE7RUFDQSw2QkFBQTtFQUNBLG1CQUFBO0VBQ0EsZUFBQTtBRnFPSjs7QUVqT0E7RUFDRTtJQUNFLHNCQUFBO0lBQ0Esb0JBQUE7SUFDQSxVQUFBO0VGb09GO0VFbE9FO0lBQ0Usa0JBQUE7SUFDQSxXQUFBO0VGb09KO0VFbk9JO0lBQ0UsaUJBQUE7RUZxT047RUV0T0k7SUFDRSxpQkFBQTtFRnFPTjtFRS9OQTtJQUNFLGdCQUFBO0VGaU9GO0FBQ0Y7QUU5TkE7RUFDRSxhQUFBO0FGZ09GOztBRTdOQTtFQUNFLGlCQUFBO0VBQ0EseUJBQUE7RUFDQSxnQkFBQTtBRmdPRjs7QUU3TkE7RUFDRSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGlDQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5QkFBQTtFQUNBLGFBQUE7RUFFQSxtQkFBQTtFQUNBLHVCQUFBO0FGK05GOztBRTFOQTtFQUNFLGFBQUE7QUY2TkY7O0FFM05BO0VBQ0UsYUFBQTtFQUNBLFNBQUE7RUFDQSxpQkFBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtFQUNBLDBCQUFBO0FGOE5GO0FFM05FO0VBRUUsZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLHlCQUFBO0FGNE5KO0FFek5FO0VBQ0UsaUJBQUE7RUFDQSxnQkFBQTtFQUNBLG9DQUFBO0VBQ0EsdUJBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsaURBQUE7QUYyTko7O0FFdk5BO0VBQ0UsYUFBQTtBRjBORjs7QUV2TkE7RUFDRSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxRQUFBO0VBQ0EsWUFBQTtFQUNBLG9CQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxnRUFBQTtFQUNBLDBCQUFBO0VBQ0EsNENBQUE7RUFDQSwyQ0FBQTtBRjBORjtBRXhORTtFQUNFLG9CQUFBO0FGME5KOztBRXROQTtFQUNFLFlBQUE7RUFDQSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7RUFDQSxvQ0FBQTtFQUNBLGlCQUFBO0VBQ0Esc0RBQUE7QUZ5TkY7O0FHaFlBO0VBQ0UsYUFBQTtBSG1ZRjs7QUdoWUE7RUFDSSxjQUFBO0VBQ0YsZUFBQTtFQUNBLE1BQUE7RUFDQSxRQUFBO0VBQ0EsT0FBQTtFQUNBLFNBQUE7RUFDQSwyQkFBQTtFQUNBLHlDQUFBO0FIbVlGOztBRy9YQTtFQUNFLG9DQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSxTQUFBO0VBQ0EsK0ZBQUE7RUFFQSx5QkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtFQUNBLGVBQUE7QUhpWUY7QUcvWEU7RUFDRSxpQkFBQTtFQUNBLGdCQUFBO0VBRUEsa0JBQUE7RUFFQSxrQkFBQTtBSCtYSjtBRzNYRTtFQUNFLFdBQUE7RUFDQSxzQkFBQTtFQUNBLFdBQUE7QUg2WEo7QUczWEk7RUFDRSxlQUFBO0VBQ0EsZUFBQTtBSDZYTjs7QUd4WEE7RUFFRSxZQUFBO0VBR0EsK0ZBQUE7QUh3WEY7QUdyWEU7RUFDRSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7QUh1WEo7QUdwWEU7RUFDRSxVQUFBO0VBQ0EsY0FBQTtFQUNBLGFBQUE7RUFDQSxvQ0FBQTtFQUNBLG1CQUFBO0FIc1hKO0FHclhJO0VBQ0UsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsOEJBQUE7RUFDQSx5Q0FBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBO0VBQ0EsbUJBQUE7QUh1WE47QUduWEU7RUFDRSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0EsaUJBQUE7RUFFQSxzQkFBQTtBSG9YSjs7QUcvV0E7RUFDRSxhQUFBO0VBQ0EsY0FBQTtFQUNBLGFBQUE7RUFDQSxhQUFBO0VBQ0EsbUJBQUE7RUFDQSx1QkFBQTtFQUNBLHlCQUFBO0VBQ0MsY0FBQTtFQUNELFlBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7QUhrWEY7O0FHM1dBO0VBQ0ksa0JBQUE7RUFDQSxhQUFBO0VBQ0EsbUJBQUE7QUg4V0o7O0FHMVdBO0VBQ0UsV0FBQTtFQUNBLGFBQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBO0VBQ0EsU0FBQTtFQUNBLGlCQUFBO0FINldGOztBR3ZXQTtFQUNJLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUVBLDBDQUFBO0VBQ0QsbUJBQUE7RUFDQyxhQUFBO0VBQ0EsU0FBQTtFQUNBLG1CQUFBO0VBQ0EsOEJBQUE7RUFDQSxhQUFBO0VBQ0EsY0FBQTtFQUNBLFdBQUE7QUh5V0o7O0FHdFdBLG9DQUFBO0FBQ0E7RUFDSSx3QkFBQTtBSHlXSjs7QUd0V0E7RUFDRSw2QkFBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0FIeVdGOztBR3RXQTtFQUNFLFlBQUE7RUFDQSxVQUFBO0VBQ0EsYUFBQTtFQUNELGNBQUE7RUFDQyw4QkFBQTtFQUNBLG1CQUFBO0FIeVdGO0FHdFdFO0VBQ0UsNEJBQUE7RUFDQSwrQkFBQTtFQUNBLE9BQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtBSHdXSjtBR3BXRTtFQUNFLDZCQUFBO0VBQ0EsZ0NBQUE7RUFDQSxPQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7QUhzV0o7O0FHbFdBO0VBQ0UsNkJBQUE7RUFDQSxhQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQyxjQUFBO0FIcVdIOztBR2pXQTtFQUNFLGdCQUFBO0VBQ0EsZUFBQTtFQUNGLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLG9DQUFBO0FIb1dBIiwiZmlsZSI6InN0eWxlLnByZWZpeC5jc3MifQ== */