* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.index-body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(46deg, hsl(0, 0%, 100%), rgb(60, 79, 250));
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (orientation: landscape) and (min-width: 48em) {
  .body {
    display: flex;
  }
  main {
    width: 70%;
    margin: 0 auto;
  }
}
.h1-title {
  width: 100%;
  padding: 1rem;
  background-color: hsl(240, 96%, 27%);
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5), inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
  color: hsl(0, 0%, 100%);
}
.h1-title span {
  color: hsl(29, 90%, 42%);
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (orientation: landscape) and (min-width: 48em) {
  main {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 70%;
  }
}

.container-progress {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-icon {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  right: 2rem;
  bottom: 3rem;
  padding: 2.8rem;
  font-size: 2.5rem;
  color: hsl(203, 68%, 82%);
  background-color: hsl(240, 96%, 27%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .edit-icon {
    z-index: 98;
  }
}

.edita-pontos-hidden {
  display: none;
}

.edita-pontos {
  max-width: 30rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
  border: 1px solid hsl(240, 96%, 27%);
  border-radius: 3rem;
  background-color: white;
}
.edita-pontos input {
  width: 70%;
  height: 3rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 3rem 0 0 3rem;
}
.edita-pontos button {
  width: 25%;
  height: 3rem;
  border: none;
  background-color: hsl(240, 96%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  border-radius: 0 3rem 3rem 0;
  cursor: pointer;
}

.notie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 0 1rem 0 1rem;
  min-height: 8vh;
  max-height: 8vh;
  text-align: center;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notie-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20rem);
  z-index: 94;
}

.notie-background-success {
  background-color: rgb(64, 182, 109);
  color: hsl(0, 0%, 100%);
}

.notie-background-error {
  background-color: #dd1b2f;
  color: hsl(0, 0%, 100%);
}

.notie-background-warning {
  background-color: #cfa118;
  color: #343a40;
}

.notie-background-info {
  width: clamp(70%, 100vw, 100%);
  background-color: #1e9bcc;
  color: hsl(0, 0%, 100%);
}

.notie-button {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notie-background-success {
  background-color: rgb(64, 182, 109);
  color: hsl(0, 0%, 100%);
}

.notie-background-error {
  background-color: #dd1b2f;
  color: hsl(0, 0%, 100%);
}

.lapis-edita,
.btn-submitcalculator {
  background-color: hsl(240, 96%, 27%);
  color: hsl(203, 68%, 82%);
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 2rem;
  position: fixed;
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .lapis-edita,
  .btn-submitcalculator {
    z-index: 3;
  }
}

.btns-submit {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.btn-submitcalculator {
  right: 6.8rem;
  bottom: 8.2rem;
}

.lapis-edita {
  right: 8.8rem;
  bottom: 4rem;
}

.lapis-edita,
.btn-submitcalculator {
  display: flex;
}

.footer-link {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 1rem;
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .footer-link {
    width: 100%;
    font-size: 1.2rem;
  }
}
.footer-link .icon-mobile {
  display: none;
}
.footer-link p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(29, 90%, 42%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-link .footer-text,
  .footer-link .icon-desktop {
    display: none;
  }
  .footer-link .icon-mobile {
    display: inline;
    font-size: 2rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .section1 {
    width: 100%;
  }
}

.valor-atualizado {
  animation: flash 0.7s ease-out;
}

@keyframes flash {
  0% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.progress-container {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 3rem auto;
}
svg {
  transform: rotate(-90deg);
}

.progress-track {
  fill: none;
  stroke: #e0f2f1;
  stroke-width: 8;
}

.progress-fill {
  fill: none;
  stroke: #007bff;
  stroke-width: 8;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset 0.8s ease-in-out;
  stroke-linecap: butt;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  z-index: 10;
}

.view-meta {
  position: relative;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  height: 35vh;
  min-height: 35vh;
  background-color: white;
  padding: 2.5rem;
  box-shadow: inset 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  border: 1px solid hsl(209, 100%, 50%);
  display: flex;
  gap: 2rem;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  margin-top: 3rem;
}

.input-meta-name-hidden {
  display: none;
}

.input-meta-name {
  display: flex;
  gap: 1rem;
  max-width: 30rem;
  margin: 0 auto;
  align-items: center;
  width: fit-content;
  color: hsl(29, 100%, 50%);
}
.input-meta-name input {
  padding: 0.3rem 1.5rem;
  font-size: 1.6rem;
  border: 1px solid hsl(29, 100%, 50%);
  border-radius: 1rem;
  outline: none;
}
.input-meta-name label {
  font-size: 2rem;
  cursor: pointer;
}
.input-meta-name button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  color: hsl(29, 100%, 50%);
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 400px) {
  .input-meta-name {
    justify-content: start;
    align-items: stretch;
    width: 90%;
  }
  .input-meta-name input {
    text-align: center;
    width: 100%;
  }
  .input-meta-name input::placeholder {
    font-size: 1.1rem;
  }
  .text-bemVindo {
    margin-top: 2rem;
  }
}
.text-bemVindo-hidden {
  display: none;
}

.text-bemVindo {
  font-size: 1.6rem;
  color: hsl(246, 96%, 27%);
  font-weight: 500;
}

.emojis-meta {
  position: absolute;
  right: 3rem;
  font-size: 3.5rem;
  transform: translate(-3rem, 1rem);
  margin-top: 1rem;
  color: hsl(29, 100%, 35%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta-data-hidden {
  display: none;
}

.meta-data {
  display: flex;
  gap: 1rem;
  flex-flow: column;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(209, 100%, 57%);
}
.meta-data span {
  font-weight: 500;
  font-size: 1.6rem;
  color: hsl(29, 100%, 50%);
}
.meta-data .dias-restante {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: hsl(204, 28%, 56%);
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 0.3rem;
  margin-left: 0.2rem;
  translate: 0 -1rem;
  box-shadow: inset 0 0 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.usuario-name-hidden {
  display: none;
}

.usuario-name {
  max-width: 50%;
  position: absolute;
  right: 0;
  bottom: 2rem;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  color: hsl(29, 100%, 50%);
  border-radius: 2rem;
  background: linear-gradient(to left, white, hsl(209, 100%, 80%));
  text-transform: capitalize;
  border-bottom: 2px solid hsl(209, 100%, 50%);
  border-right: 2px solid hsl(209, 100%, 50%);
}
.usuario-name .bi {
  margin-right: 0.5rem;
}

.meta-opcao {
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: hsl(209, 67%, 60%);
  color: white;
  font-size: 1.6rem;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}

.modal-backdrop-hidden {
  display: none;
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .modal-backdrop-hidden {
    display: block;
    position: relative;
    background-color: transparent;
    width: 30%;
  }
}

.modal-backdrop {
  display: block;
  position: fixed;
  inset: 0 0 0 0;
  backdrop-filter: blur(1rem);
  background-color: rgba(15, 15, 15, 0.815);
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .modal-backdrop {
    position: relative;
    backdrop-filter: none;
    background-color: transparent;
    width: 30%;
  }
}

.modal-header {
  background-color: hsl(207, 61%, 41%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5), inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
  color: rgb(255, 255, 255);
  max-height: 10vh;
  min-height: 6.8rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.modal-header .titulo-modal {
  font-size: 2.5rem;
  max-width: 70rem;
  text-align: center;
  text-align: center;
}
.modal-header .close-btn {
  width: 5rem;
  background-color: none;
  color: #fff;
}
.modal-header .close-btn i {
  font-size: 3rem;
  cursor: pointer;
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .modal-header {
    display: none;
  }
}

.modal-body {
  width: 100vw;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5), inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .modal-body {
    width: 100%;
    box-shadow: none;
    background-color: none;
    border-left: 5px solid hsl(240, 96%, 27%);
    height: 100vh;
  }
}
.modal-body .mt-4 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  color: hsl(184, 61%, 56%);
  margin-bottom: 1rem;
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .modal-body .mt-4 {
    color: hsl(240, 96%, 27%);
  }
}
.modal-body .list-group {
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid hsl(184, 61%, 56%);
  border-radius: 2rem;
}
.modal-body .list-group li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 9%, 90%, 0.747);
  list-style: decimal;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.modal-body .mt-5 {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.6rem;
  color: hsl(0, 7%, 70%);
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .modal-body .mt-5 {
    color: hsl(240, 96%, 27%);
  }
}

.btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8383;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.historico-item-card {
  position: relative;
  padding: 1rem;
  border-radius: 3rem;
}

.historico-item-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.6rem;
}

.edicao-in-place {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 15%, 81%, 0.685);
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6;
  z-index: 1;
}

/* Oculta o container inicialmente */
.edita-pontos-hidden {
  display: none !important;
}

.btn-corrigir {
  background-color: transparent;
  color: rgb(18, 59, 107);
}

.card-data-valor {
  color: rgb(18, 59, 107);
}

.edit-botoes {
  height: 100%;
  width: 30%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.edit-botoes .btn-success {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  flex: 1;
  width: 100%;
  color: #115a0a;
}
.edit-botoes .btn-cancelar-correcao {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex: 1;
  width: 100%;
  color: #bd0f0f;
}

.input-correcao {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  max-width: 70%;
}

.h3-media-semanal {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #fcfcfc;
  background-color: hsl(207, 61%, 41%);
}
@media screen and (orientation: landscape) and (min-width: 48em) {
  .h3-media-semanal {
    box-shadow: inset 0.5rem 0 0.5rem 0 rgba(8, 14, 17, 0.3), inset -0.5rem 0 0.5rem 0 rgba(8, 14, 17, 0.3);
    background-color: hsl(240, 96%, 27%);
  }
}

.form-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.form-group label {
  color: hsl(240, 96%, 27%);
  font-weight: 700;
}
.form-group .observacao-text {
  width: 90%;
  min-height: 3rem;
  background-color: hsla(192, 11%, 91%, 0.767);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid hsl(240, 96%, 27%);
}

.btn-modal-solicitar {
  padding: 1rem;
  background-color: hsl(29, 90%, 42%);
  border-radius: 10rem;
  color: hsl(203, 68%, 82%);
  margin-bottom: 2rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
