.modal-backdrop-hidden {
  display: none;
  @include landscape-desktop {
    display: block;
    position: relative;

    background-color: transparent;

    width: 30%;
  }
}

.modal-backdrop {
  display: block;
  position: fixed; // <-- Use fixed para garantir cobertura total
  inset: 0 0 0 0;
  backdrop-filter: blur(1rem);
  background-color: rgba(15, 15, 15, 0.815);

  @include landscape-desktop {
    position: relative;
    backdrop-filter: none;
    background-color: transparent;
    width: 30%;
  }
}

.modal-header {
  background-color: clr-M(primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @include box-shadow-primary;
  color: rgb(255, 255, 255);
  max-height: 10vh;
  min-height: 6.8rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;

  .titulo-modal {
    font-size: 2.5rem;
    max-width: 70rem;

    text-align: center;

    text-align: center;
  }

  .close-btn {
    width: 5rem;
    background-color: none;
    color: #fff;

    i {
      font-size: 3rem;
      cursor: pointer;
    }
  }

  @include landscape-desktop {
    display: none;
  }
}

.modal-body {
  width: 100vw;

  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5),
    inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);

  @include landscape-desktop {
    width: 100%;
    box-shadow: none;
    background-color: none;
    border-left: 5px solid clr(primary);
    height: 100vh;
  }

  .mt-4 {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: clr-M(secondary);
    margin-bottom: 1rem;
    @include landscape-desktop {
      color: clr(primary);
    }
  }

  .list-group {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
    border: 1px solid clr-M(secondary);
    border-radius: 2rem;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: hsla(0, 9%, 90%, 0.747);
      list-style: decimal;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 1rem;
    }
  }

  .mt-5 {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.6rem;

    color: hsl(0, 7%, 70%);

    @include landscape-desktop {
      color: clr(primary);
    }
  }
}

.btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8383;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.historico-item-card {
  position: relative;
  padding: 1rem;
  border-radius: 3rem;
}

.historico-item-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.6rem;
}

.edicao-in-place {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: hsla(0, 15%, 81%, 0.685);
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6;
  z-index: 1;
}

/* Oculta o container inicialmente */
.edita-pontos-hidden {
  display: none !important;
}

.btn-corrigir {
  background-color: transparent;
  color: clr(dark-blue);
}

.card-data-valor {
  color: clr(dark-blue);
}

.edit-botoes {
  height: 100%;
  width: 30%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  .btn-success {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    flex: 1;
    width: 100%;
    color: #115a0a;
  }

  .btn-cancelar-correcao {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    flex: 1;
    width: 100%;
    color: #bd0f0f;
  }
}

.input-correcao {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  max-width: 70%;
}

.h3-media-semanal {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #fcfcfc;
  background-color: clr-M(primary);
  @include landscape-desktop {
    box-shadow: inset 0.5rem 0 0.5rem 0 rgba(8, 14, 17, 0.3),
      inset -0.5rem 0 0.5rem 0 rgba(8, 14, 17, 0.3);
    background-color: clr(primary);
  }
}

.form-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  label{
  color: clr(primary);
  font-weight: 700;
  }

  .observacao-text {
    width: 90%;
    min-height: 3rem;
    background-color: hsla(192, 11%, 91%, 0.767);
   border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid clr(primary);
  }
}


.btn-modal-solicitar{
  padding: 1rem;
  background-color: clr(tercery);
  border-radius: 10rem;
  color: clr(azul-claro);
  margin-bottom: 2rem;
  cursor: pointer;
}