
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.body-privacidade {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: darken(clr(primary), 18%);
}

.manual-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: clr-M(secondary);
  padding: 1rem 1.3rem;
  text-wrap: pretty;

  .md {
    color: clr(tercery);
    font-style: italic;
    text-decoration: underline;
  }

  .focus {
    color: clr(blanco);
  }

  @media all and (min-width: 29.88em) {
    height: 15vh;
    width: 100vw;
  }
}
.manual-container {
  max-width: 90rem;
  background-image: linear-gradient(to top right, #ffffff, rgb(174, 216, 219));

  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5),
    inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
 
  height: auto;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem 0.3rem rgba(133, 164, 199, 0.2);
  color: clr(gray);

  .manual-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid clr(tercery);
    padding: 5%;
    border-radius: 2rem;

    .section-title {
      font-size: 1.88rem;
      text-align: center;
      color: darken(clr(tercery), 1%);
    }

    h3 {
      color: lighten(clr(danger), 10%);
    }

    strong,
    span {
      color: clr("dark-blue");
    }
    
    dl {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    dt {
      font-weight: 700;
      color: clr("dark-blue");
    }
    
    dd {
      margin-left: 1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style-position: inside;
    }

    .destacado {
      color: lighten(clr(danger), 10%);
    }

    .revisado {
      color: darken(clr(tercery), 1%);
    }

    .importante {
      color: lighten(clr(danger), 10%);
      font-weight: 700;
    }
  }

  .button-back-to-app {
    text-decoration: none;
    padding: 1rem;
    background-image: linear-gradient(to right, clr(roxo), clr(blanco));
    border: 1px solid;
    color: clr(black);
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
  }
}