* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  
}

.h2-title {
  width: 100%;
  padding: 1rem;
  // margin-bottom: 2rem;
  background-color: rgb(28, 10, 95);
  font-size: 3rem;

  text-align: center;
  box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5),
    inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
  color: rgb(255, 255, 255);

  span {
    color: hsl(24, 76%, 48%);
    text-decoration: underline;
    font-weight: bold;
  }
}

main {
  width: 100vw;
  height: 100dvh;
  background-image: linear-gradient(
    46deg,
    rgb(255, 255, 255),
    rgb(81, 79, 180)
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    transition: max-width 0.3s ease-in-out;
  }
}

.section-modal-open {
  max-width: 70rem;
  margin: 0 auto;
}

.container-progress {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-icon {
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  right: 2rem;
  bottom: 3rem;
  padding: 3rem;
  font-size: 3rem;
  color: hsl(203, 68%, 82%);
  background-color: #0e1079;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.edita-pontos-hidden {
  display: none;
}

.edita-pontos {
  max-width: 30rem;
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;

  border: 1px solid hsl(246, 96%, 27%);
  border-radius: 3rem;
  background-color: #ffff;

  input {
    width: 70%;
    height: 3rem;
    font-size: 1.6rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    border-radius: 3rem 0 0 3rem;
  }

  button {
    width: 25%;
    height: 3rem;
    border: none;
    background-color: hsl(241, 85%, 35%);

    color: #ffff;
    font-size: 1.6rem;
    border-radius: 0 3rem 3rem 0;
    cursor: pointer;
  }
}

// =================================================
// ESTILIZAÇÃO DO NOTIE.JS (Para combinar com MD Focus)
// =================================================

/* Fundo da Notificação (O contêiner principal) */
.notie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;

  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 0.8rem;
min-height: 10%;
  text-align: center;
  box-shadow: inset 0.5rem 0 0.5rem 0 rgba(8, 14, 17, 0.5),
    inset -0.5rem 0 0.5rem 0 rgba(8, 14, 17, 0.5);

  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content:center;
}

.notie-background-success {
  background-color: #38c172;
  color: #fff;
}

.notie-background-error {
  background-color: #ac4d4a;
 
  color: #fff;
}

.notie-background-warning {
  background-color: #c4862b;

  color: #333;
}

.notie-background-info {
  background-color: #4d82d6;

  color: #fff;
}

// edita os botãos de submit

.lapis-edita,
.btn-submitcalculator {
  background-color: rgb(12, 12, 116);
  color: white;
  width: 2.8rem;
  height: 2.8rem;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 50%;

  position: fixed;
}

.btns-submit {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.btn-submitcalculator {
  right: 6rem;
  bottom: 8rem;
}

.lapis-edita {
  right: 8rem;
  bottom: 4rem;
}

.lapis-edita,
.btn-submitcalculator {
  display: flex;
}
