@mixin box-shadow-primary {
    box-shadow: inset 1rem 0 1rem 0 rgba(8, 14, 17, 0.5),
    inset -1rem 0 1rem 0 rgba(8, 14, 17, 0.5);
 
}


$reakpoint-landscape: 48em;

@mixin landscape-desktop{
    @media screen and (orientation: landscape) and (min-width: $reakpoint-landscape){
        @content;
    
    }
}

@mixin mobile-landscape {
  @media (max-width: 768px) and (orientation: landscape) {
    @content;
  }
}